<ul class="builds">
  {{# jobs }}
  <li class="{{ status }}">
    <span class="status"></span>
    <a class="console" href="{{ console_path }}"></a>
    <p class="right sha1"><a title="{{message}}" href="{{compare_url}}">{{sha1}}</a></p>
    <h2>
      {{ build_number }}<a href="{{repo_path}}">{{ repo_name }}</a>/<a href="{{branch_path}}">{{ branch_name }}</a>
    </h2>
    <p>
      <span class="right">{{author}}</span>
      {{{ last_built_text }}}
    </p>
  </li>
  {{/ jobs }}
</ul>
