<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/base.css" type="text/css" />
  <script src="/javascripts/jquery.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/jquery.relatize.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/application.js" type="text/javascript" charset="utf-8"></script>
</head>
<body class="{{page_class}}">
  <div id="wrapper">
    <h2 id="logo"><a href="{{root}}/">{{title}}</a></h2>

    <div class="content">
      <div class="inside">
        {{{yield}}}
      </div>
    </div>
  </div>
</body>
</html>
